@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>
<h3>Немного о системе "Стеллаж"</h3>

<p>Назначение системы заключается в следующем: обеспечить выбор, 
    удобное чтение, своевременное добавление книг в каталог, 
    общение пользователей на литературные темы, 
    соблюдая порядок и правила поведения в системе.</p>
<p>
    В конце разработки не достигнута ни одна из этих целей :З
</p>
