@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>


<address>
   ВлГУ<br />
    ИСТ-114<br />
    <abbr title="Phone">Телефон:</abbr>
    +7-904-034-22-17
</address>

<address>
    <strong>Техподдержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Сотрудничество:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>